@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #e4daee;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #f3f0f7;
  text-decoration: none;
}

.blue { color: #00aeff; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #02afff;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #A7A1AE; }


@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
.button {
    width:80%;
    height: 45px;
    border: 1px;
    cursor: pointer;
    background:#2C3446;
    border-radius: 30px;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    position: relative;
    bottom: 70px;
    margin: 30px;
}

  .buttons a { 
    text-decoration: none;    
  }
  
  .buttons {
    display: flex;  
  }

  .button:hover{
      background: #6495ED;
  }


          
#navlist {
        background-color: #104573;
        position: absolute;
        width: 500%;
    }
          
#navlist a {
        float:left;
        display: block;
        color: #323C50;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 25px;
    }
      
.navlist-right{
        float:right;
    }
  
   
#navlist a:hover {
        background-color: #323C50;
        color: black;
    }
          

.search input[type=text]{
        width:300px ;
        height:40px;
        border-radius:25px;
        border: none;
		border-bottom: 670px;
    }
          
.search{
        float:right;
        margin:22px;
    }
          
.search button{
        background-color: #323C50;
        color: #323C50;
        float: right;
        padding: 15px 25px;
        margin-right: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
} 
input {
	background-color: #39445a;
}