<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/styles/alterar.css' />
    <title>Alterar</title>
</head>
<body>
    <div>
        <h1 id="titulo">Altere as informações</h1>
        <p id="subtitulo">somente o ID é necessário preencher</p>
        <br>
    </div>
    {%block conteudo%}
    <form method="POST">
        <fieldset class="grupo" >
            <div class="campo">
                <label for="i"><strong>ID a ser alterado</strong></label>
                <input type="text" name="i" id="i" required>
            </div>
            <div class="campo">
                <label for="name"><strong>Nome</strong></label>
                <input type="text" name="name" id="name" >
            </div>
            <div class="campo">
                <label for="especie"><strong>Especie</strong></label>
                <input type="text" name="especie" id="especie" >
            </div>
            <div class="campo">
                <label for="dono"><strong>Dono</strong></label>
                <input type="text" name="dono" id="dono" >
            </div>
            </div>
        </fieldset>
            <button class="botao" type="submit" > Salvar</button>
    </form>
    {%endblock%}
</body>
</html>