<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/styles/deletar.css' />
    <title>Remover</title>
</head>
<body>
    <div>
        <h1 id="titulo">Remova um Animal</h1>
        <p id="subtitulo">Digite a linha para remoção</p>
        <br>
    </div>
    {%block conteudo%}
    <form method="POST">
        <fieldset class="grupo">
            <div class="campo">
                <label for="i"><strong>Linha</strong></label>
                <input type="text" name="i" id="i" required>
            </div>
        </fieldset>
        <button class="botao" type="submit" > Remover</button>
    </form>
    {%endblock%}
</body>
</html>