<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
        <link rel="stylesheet" href='/static/styles/home.css' />
    <title>Home</title>
</head>
<body>
    <h1>Lista de Animais</h1>
        <table class="container">
            <thead>
                <tr>
                    <th><h1>Nome</h1></th>
                    <th><h1>Especie</h1></th>
                    <th><h1>Dono</h1></th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><h2>{{task.name}}</h2></td>
                    <td><h2>{{task.especie}}</h2></td>
                    <td><h2>{{task.dono}}</h2></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="footer">
        <div class="buttons">
            <a href="create" class="button" type="button">Adicionar</a>
            <a href="alterar" class="button" type="button">Alterar</a>
            <a href="deletar" class="button" type="button">Remover</a>
        </div>            
        </div>
</body>
</html>