*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #4DC3FA;
    margin-left: -10%;
}

#subtitulo{
    font-family: sans-serif;
    color: #FFF842;
    margin-left: -5%;

}

fieldset { 
    border: 0;
}

body{
    background-color: #1F2739;
    font-family: sans-serif;
    font-size: 1em;
    color: #A7A1AE;
    
    margin-left: 46%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-top: 15%;
    margin-bottom: 0.2em;
    color: #527ad7;
    display: block;
}

fieldset.grupo {
    float: left;
    margin-right: 1em;
    
}

.campo input[type="text"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #5875b8;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background:  #326bf1;
}

.botao {
    font-size: 1.2em;
    background: #2C3446;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: rgb(0,0,0,0.2);
    position: sticky;
    top: 80%;
    left: 52%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #6495ED;
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}
input {
	background-color: #39445a;
}